.container_MP {
    position: relative;
    width: 100%;
    margin: 0 auto; /* Center the container horizontally */
    background-color: rgba(28, 27, 27, 0.7);
    height: 300px;
    /* Adjust other styles as needed */
  }

  .overlay-text_MP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .backgroundimage_mp {
    display: inline-block;
    width: 250px; /* Set a specific width for all images */
    height: 250px;
    margin-left: 90px; /* Adjust spacing between images */
    margin-top: 20px;
}

.image-slider {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth; /* Optional: Makes scrolling smooth */
}


.text-color{
  color: orange;
}