.containerNew{
    position: relative;
    width: 55%;
    height: auto;
    background-color: rgb(222, 216, 216);
    box-shadow: 0px 4px 6px rgba(255, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 10px;
    border-radius: 10px;
    margin: 10px;
}

.containerNew img{
    width: 220px;
    height: 160px;
    
}

.containerNew div{
    margin-left: 30px;
}


.price-custom{
    transform: translate(320%,10%);
    position: absolute;
    color: rgb(240, 115, 47);
    font-size: 24px;

}


.button-customize{
    transform: translate(260%,280%);
    position: absolute;
    height: 40px;
    width: 100px;
    background-color: rgb(69, 153, 183);
    border: none;
}

/* Jareer css code */

.car-container {
  display: flex;
  border: 4px solid #ddd;
  margin: 46px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 235px; /* Adjust the width as needed */
  background-color: #e5f1fb;
}
.image-container {
  flex: 1;
  overflow: hidden;
  margin: 20px;
  border: 1px solid #c6c1c1;
  border-radius: 8px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details-container {
  flex: 1;
  padding: 20px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
  color: #555;
}

h3 {
  font-size: 1.2rem;
  margin-right: 10px;
  margin-bottom: 20px;
}

.car-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.contact-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #45a049;
}

/* src/components/CarGrid.css */
.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Change minmax value to set the number of cars per row */
  gap: 20px; /* Adjust gap between cars */
  padding: 20px;
}

.car {
  background-color: rgb(29, 29, 29); /* Background color for the car */
  border: 1px solid #ddd; /* Border around each car */
  border-radius: 8px; /* Rounded corners */
  padding: 16px; /* Padding inside the car box */
  text-align: center; /* Center align text */
}

.car-image {
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners for images */
}
