.custom-navbar {
    background-color: #000; /* Hex code for black color */
    /* You can also use 'black' as a color name */
    /* Adjust other styles as needed */
  }

  .car-highlight {
    color: orange; /* Make the "Car" part orange */
    font-weight: bold; /* Optional: Make it bold */
  }

  .navbar-brand {
    font-size: 44px; /* Increase font size for the whole text */
    text-decoration: none; /* Optional: Remove underline */
    color: black; /* Default color for the "Tech" part */
  }


  .nav-link {
    color: white; /* Default color for links */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  .nav-link:hover {
    color: orange; /* Change to blue when hovered */
  }