/* .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: "./mercedes-benz-car.jpg";  
    background-size: cover;
  }
  
  .form-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    color: wheat;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  } */
  
  .login-container {
    /* display: flex; */
    height: auto;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
    background-color: black; /* Fallback background */
  }

  .rounded-container {

    display: flex;
    justify-content: space-between;
    width: 80%; /* Set the width to 70% of the total screen width */
    height: auto; /* Set a height for the container */
    padding: 20px; /* Add some padding */
    background-color: rgba(29, 29, 29, 0.6); /* Background color */
    border-radius: 10px; /* Rounded corners */
    margin: 120px;
  }
  
  .form-container{
    flex: 1; /* This ensures equal width for both containers */
    padding: 20px;
    background-color: rgba(29, 29, 29, 0);
    border-radius: 10px;
    margin: 5px;
  }

  

  .simple-div-container{
    flex: 1; /* This ensures equal width for both containers */
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    margin: 5px;
  }
  
  .simple-div-container img{
    width: 100%;
  }

  
  .form-container p {
    text-align: center;
    color: wheat;
    margin-bottom: 15px;
    font-size: 40px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid wheat;
    background-color: rgb(35,35,35);
    border-radius: 5px;
    color: wheat;
  }
  
  .form-container button {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .form-container button:hover {
    background-color: greenyellow;
  }

  


  